@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scrollbar-gutter: stable;
} */

:root {
  color-scheme: light dark;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;

    --cd-dark-blue: 221 47% 7%;
    --cd-midnight-blue: 234 17% 16%;
    --cd-light-blue: 198 100% 56%;
    --cd-gray: 0 0% 85%;
    --cd-purple: 250 100% 60%;
    --cd-green: 146 98% 82%;
    --cd-dark-gray: 0 9% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hexagon {
    -webkit-clip-path: polygon(
      50% 0%,
      95% 25%,
      95% 75%,
      50% 100%,
      5% 75%,
      5% 25%
    );
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    box-shadow: 0 0 10px rgba(16, 233, 8, 0.5);
  }
}

#dots::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url('/bluedots.png');
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-size: 70%;
  z-index: -99;
  opacity: 3%;
  border-radius: calc(var(--radius) - 2px);
}

@media (width <=400px) {
  #dots::before {
    background-size: 150%;
  }
}

/* MDX Styles */
article h1 {
  @apply text-4xl font-bold mt-7 leading-10;
}

article h2 {
  @apply text-3xl font-bold mt-7 leading-7;
}

article h3 {
  @apply text-2xl font-bold mt-7 leading-7;
}

article h4 {
  @apply text-xl font-bold mt-7 leading-7;
}

article h5 {
  @apply text-lg font-bold mt-7 leading-6;
}

article h6 {
  @apply text-base font-bold mt-7;
}

article p {
  @apply text-base leading-7 mt-7 text-justify text-slate-400;
}

article a {
  @apply text-cd-green transition-colors duration-200;
}

article a:hover {
  @apply text-cd-green underline;
}

article ul {
  @apply list-disc pl-7 mt-7 marker:text-cd-light-blue/60;
}

article ul ul {
  @apply text-base leading-6 mt-2;
}

article ol {
  @apply list-decimal pl-7 mt-7 marker:text-cd-light-blue/60;
}

article li {
  @apply text-base leading-6 mt-2 text-slate-400;
}

article blockquote {
  @apply pl-4 border-l-4 border-cd-light-blue bg-cd-light-blue/10 rounded-sm my-2 w-fit px-2 py-3 mt-7;
}

article blockquote p {
  @apply text-base leading-3 mt-0;
}

article table {
  @apply table-auto;
}

article thead {
  @apply bg-primary text-primary-foreground;
}

article th {
  @apply px-4 py-2;
}

article td {
  @apply px-4 py-2;
}

article hr {
  @apply my-8 border-double border-t-2 border-cd-light-blue/10;
}

article img {
  @apply mx-auto;
}

article code {
  @apply px-2 py-1 bg-cd-gray/20 rounded-sm text-sm font-mono;
}

pre {
  @apply rounded-lg mt-7;
}

article pre code {
  @apply text-base bg-transparent py-4 px-3 overflow-x-auto rounded-lg;
}

article strong {
  @apply text-white;
}

@media (prefers-color-scheme: dark) {
  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme='dark'],
  code[data-theme='dark'] {
    display: none;
  }
}
